.text {
	position: relative;
	text-decoration: none;
	transition: color 0.3s;
	font: {
	};
	&:hover {		
		&:before {
			left: 0;
			
			width: 100%;
			
			transition: 0.1s;
		}
	}
	&:before {
		position: absolute;
		bottom: -6px;
		right: 0;
		width: 0;
		height: 2px;
		content: "";
		transition: 0.3s;
		background-color: #00dac4;
	}
}